@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&family=Roboto:wght@900&display=swap');

/* making some values to default */
* 
    {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: poppins;
        
    }
body
    {
        background-color: #E3FDFD;
    }
/* end making some values to default */

/* css for cards */
.question-mark
    {
        transition: transform .2s;
    }
.question-mark:hover
    {
        transform: scale(1.5);
    }

.hidden 
    {
        display: none;
    }

.game_container 
    {
        width: 40rem;
        height: 38rem;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        perspective: 1000px;
    }
  
.memory-card 
    {
        width: 11.5rem;
        height: 8.5rem;
        position: relative;
        margin: 10px;
        transform: scale(1);
        transform-style: preserve-3d;
        transition: transform .5s;
    }
  
.memory-card:active 
    {
        transform: scale(0.97);
        transition: transform .2s;
    }
  
.memory-card.flip 
    {
    transform: rotateY(180deg);
    }
  
.front-face,
.back-face 
    {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 5px;
        backface-visibility: hidden;
    }
  
.front-face 
    {
        transform: rotateY(180deg);
    }
/* end css for cards */

.footer
        {
            padding-top: 2rem;
        }

@media (max-width: 600px) 
    {
       
        .game_container 
        {
            width: 21rem;
            height: 20rem;
            margin-left: 1rem;
            margin-bottom: 4rem;
        }
        
        .memory-card 
        {
            width: 5rem;
            height: 5rem;
            position: relative;
            transform: scale(1);
            transform-style: preserve-3d;
            transition: transform .5s;
        }
        
    }

/* end css for footer*/